/* Colour Palette
from coolors.co
Black Coral - 5e6472
Baker Miller Pink - ff97b7
Powder Blue- aed9e0 
Nadeshiko Pink - ffacc5 
French Pink - ff5d8f */

body {
    font-family: 'Lora', serif;
}

h1, h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

.whole-site {
    display: grid;
    background-color: #5e6472;
    border: 10px solid #5e6472;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 5em 3em 3fr 5em;
    height: 95vh;
    grid-template-areas: 
        "header header" 
        "side main" 
        "side main" 
        "footer footer";
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff97b7;
    grid-area: header;
    margin-bottom: 5px;
}

.side-top {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #aed9e0;
    grid-area: side;
    grid-row: 2;
    margin-right: 5px;
    padding: 10px;
}

.side-bottom {
    background-color: #aed9e0;
    grid-area: side;
    grid-row: 3 / -2;
    margin-right: 5px;
}

.side-bottom li {
    padding: 5px;
}

.main {
    background-color: #aed9e0;
    grid-area: main;
    grid-row: 2 / -2;
}

.top-button {
    display: flex;
    justify-content: left;
}

.button1 {
    background-color: #ffacc5;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.button2 {
    background-color: #ff5d8f;
    padding: 0.5em;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
}

.textarea {
    margin: 10px;
}

textarea {
    width: 85%;
    height: 85%;
    border: 1px solid #ff97b7;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #999;
    font-size: 0.8rem;
    padding: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.bottom-button {
    display: flex;
    justify-content: center;
}

.button3 {
    background-color: #ffacc5;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 6px;
}

.footer {
    background-color: #ff97b7;
    grid-area: footer;
    margin-top: 5px;
}

.bottom-text h2 {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.logos {
    display: flex;
    justify-content: center;
}

img{
    max-width: 20px;
    max-height: 20px;
    margin-right: 4px;
    width: 4%;
    height: 4%;
}

@media screen and (max-width: 600px) {
    .whole-site {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5em 3em 3em 3fr 5em;
        grid-template-areas:
        "header" 
        "side-top"
        "side-bottom" 
        "main"
        "footer";
    }

    .header {
        grid-area: header;
        margin: 5px;
    }

    .side-top {
        grid-area: side-top;
        margin-left: 5px;
        margin-right: 5px;
    }

    .side-bottom {
        grid-area: side-bottom;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .side-bottom li {
        display: inline-block;
    }

    .main {
        grid-area: main;
        margin-left: 5px;
        margin-right: 5px;
    }

    .footer {
        grid-area: footer;
        margin: 5px;
    }
}